@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #0B0B0B;
  --secondary: #c9a24d;
}

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-primary: #0D0D0D;
  --color-secondary: #262626;
  --color-assets: #D9D9D9;
}

body {
   font-family: var(--font-poppins);
}
